# Optional npm cache directory
/frontend/.npm
# Optional eslint cache
/frontend/.eslintcache
# dotenv environment variables file
/frontend/.env
# nuxt.js build output
/frontend/.nuxt
# Nuxt generate
/frontend/dist
# vuepress build output
/frontend/.vuepress/dist
# IDE / Editor
/frontend/.idea
/frontend/node_modules/
/frontend/.nuxt/

.idea
/backend/package-lock.json
/backend/node_modules/
/backend/.idea
/backend/mongo/
/backend/dist/
/backend/static/
